.backButton {
  border: none;
  outline: none;
  background: none;
  display: flex;
  align-items: center;
  color: #343434;
  font-size: 0.875rem;
  font-weight: 600;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.5;
  }

  svg {
    height: 1.5rem;
    vertical-align: middle;
  }
}
