.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343434;
  color: white;
  font-weight: 600;
  height: 200px;
  margin-top: 50px;
}
